*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: ffffff;
    color: #555;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7)), url('https://static.vecteezy.com/system/resources/previews/002/905/628/original/company-staff-business-team-flat-illustration-professional-businessmen-and-businesswomen-cartoon-characters-successful-entrepreneurs-corporate-personnel-office-workers-directors-board-vector.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    /* text-align: center; */
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 200px;
    /* background-color: #ff6b6b;
    color: #fff; */
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 25px;
    /* border-radius: 5px; */
    transition: background-color 0.3s ease-in-out;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    /* background-color: #fff; */
    color: #e67e22;
    border: 1px solid #e67e22;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover,
.btn:active{
    background-color: #8b5322;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #d88c49;
    color: #fff;
}

.logo{
    width: 150px;
    height: 150px;
    float: left;
    /* border-radius: 50%;
    overflow: hidden; */
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

.main-nav{
    float: right;
    margin-top: 50px;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.main-nav li a:hover,
.main-nav li a:active{
    /* color: #e67e22; */
    border-bottom: 3px solid #e67e22;
}

section{
    padding: 80px 0;
    margin: 50px 10px 20px 10px;
}

h2{
    font-size: 180%;
    font-weight: 300;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    width: 100%;
    /* margin-left: 15%; */
    font-size: 1.2em;
    color: #666;
}

.box{
    padding: 1%;
}

h3{
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
    color: #333;
    text-transform: uppercase;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: inline-block;
    color: #e67e22;
    margin-bottom: 10px;
}

.profile-photo{
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.icn-html{
    color: #e34c26;
}

.icn-css{
    color: #1572B6;
}

.icn-js{
    color: #F7DF1E;
}

.icn-rt{
    color: #61DAFB;
}

.icn-gh{
    color: #333;
}

.icn-lk{
    color: #0077B5;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* max-width: 600px; */
    /* margin: 0 auto; */
}

.section-features{
    margin-bottom: 400px;
    /* background-color: #c6c6c6; */
}

